.twit-body {
    width: 100%;
    min-width: 530px;
    border-top: 0px;
    border-bottom: 1px;
    border-right: 1px;
    border-left: 1px;
    border-color: var(--border-gray);
    border-style: solid;
    z-index: 1;
    padding-top: 10px;
    /* border: 1px var(--border-gray) solid; */
}

.twit-devider {
    display: flex;
}

.twit-devider-photo {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: top;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.twit-img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.twit-devider-text {
    width: 90%;
}

.twit-devider-text-upperpart {
    display: flex;
    align-items: flex-end;
}

.twit-username {
    display: inline-block;
    color: var(--text-color-white);
    text-align: left;
    font-size: 1.1rem;
    font-weight: bold;
}

.twit-accountname {
    display: inline-block;
    color: var(--text-color-gray);
    text-align: left;
    font-size: 1rem;
    margin-left: 0.5rem;
}

.twit-timeposted {
    display: inline-block;
    color: var(--text-color-gray);
    text-align: left;
    font-size: 1rem;
    margin-left: 0.3rem;
}

.twit-verification_icon {
    margin-left: 0.3rem;
    width: 1rem;
    height: 1rem;
}

.twit-content {
    color: var(--text-color-white);
}

.twit-post-image-conteiner {
    width: 100%;
    display: flex;
    margin: 16px 0;
}

.twit-post-image {
    width: 80%;
    border-radius: 17px;
}

.twit-options {
    width: 10%;
}

.twit-buttons {
    margin: 0 auto;
    width: 80%;
    display: flex;
    margin-bottom: 16px;
}

.twit-buttons>div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.twit-buttons p {
    color: var(--text-color-gray);
    font-weight: bold;
    font-size: 0.8rem;
    margin-left: 8px;
    transition: all 0.5s;
}

.twit-buttons svg {
    fill: gray;
    height: 25px;
    transition: all 0.5s;
}

.twit-button-comment-warper,
.twit-button-retwit-warper,
.twit-button-like-warper,
.twit-button-comment-share {
    display: flex;
    justify-content: center;
    align-items: center;
}

.twit-button-comment-warper:hover>.svg-warper>svg,
.twit-button-comment-warper:hover>p {
    color: rgba(29, 155, 240, 1);
    fill: rgba(29, 155, 240, 1);
}

.twit-button-retwit-warper:hover>.svg-warper>svg,
.twit-button-retwit-warper:hover>p {
    color: rgba(0, 186, 124, 1);
    fill: rgba(0, 186, 124, 1);
}

.twit-button-like-warper:hover>.svg-warper>svg,
.twit-button-like-warper:hover>p {
    color: rgba(249, 24, 128, 1);
    fill: rgba(249, 24, 128, 1);
}

.twit-button-share-warper:hover>.svg-warper>svg,
.twit-button-share-warper:hover>p {
    color: rgba(29, 155, 240, 1);
    fill: rgba(29, 155, 240, 1);
}

.twit-button-comment-warper:hover>.svg-warper {
    background: rgba(29, 155, 240, 0.1);
}
.twit-button-retwit-warper:hover>.svg-warper {
    background: rgba(0, 186, 124, 0.1);
}
.twit-button-like-warper:hover>.svg-warper {
    background: rgba(249, 24, 128, 0.1);
}
.twit-button-share-warper:hover>.svg-warper {
    background: rgba(29, 155, 240, 0.1);
}

.svg-warper {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.twit-button-comment {
    /* background: white; */
}

.twit-button-retwit {
    /* background: gray; */

}

.twit-button-like {
    /* background: white; */

}

.twit-button-share {
    /* background: gray; */

}



/* 3 dots */

.twit-dropdown {
    position: relative;
    ;
}

.twit-dropbtn {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.twit-dropbtn div {
    background: gray;
    border-radius: 100%;
    width: 5px;
    height: 5px;
    margin: 1px;
}

.twit-dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
    box-shadow: rgb(255 255 255 / 20%) 0px 0px 15px, rgb(255 255 255 / 20%) 0px 0px 3px 1px;
    border-radius: 10px;
    overflow: hidden;
    top: 1rem;
    right: 1rem;

    background: var(--background-black);
}

.twit-dropdown-menu div {
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--text-color-white);
    padding: 6px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    transition: all 0.3s;
}

.twit-dropdown-menu div:hover {
    background: var(--background-gray);
}

.show {
    display: block;
}