.main-page-sign-up {
    position: fixed;
    height: var(--signup-bar-height);
    width: 100%;
    background-color: rgb(29, 155, 240);
    display: flex;
    bottom: 0;
    justify-content: center;
    box-shadow: rgb(255 255 255 / 20%) 0px 0px 15px, rgb(255 255 255 / 20%) 0px 0px 3px 1px;
    z-index: 100000000;
}

.main-page-sign-up-text-warpper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.main-page-sign-up-text-warpper > p{
    width: 100%;
    color: var(--text-color-white);
    
}

.main-page-sign-up-text-warpper > p:nth-child(1){
    font-size: 1.5rem;
    font-weight: bold;
}

.main-page-sign-up-text-warpper > p:nth-child(2){
    font-size: 1.1rem;
}

.main-page-sign-up-button-warpper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 100px;
    
}

.main-page-sign-up-button-warpper > div{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 42px;
    border-radius: 99999px;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-sizing: border-box;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 1.07rem;
    font-weight: bolder;
}

.main-page-sign-up-button-warpper > div:nth-child(1){
    background: rgb(29, 155, 240);
    color: var(--text-color-white);
}

.main-page-sign-up-button-warpper > div:nth-child(2){
    background: var(--background-white);
    color: var(--text-color-black);
}